/**
 * admin.css
 * 
 * object    : stylesheet used in all the admin pages
 * author    : Freek Ceymeulen
 * created   : 01/05/2005
 **/

a {
    text-decoration : none;
}
a:hover {
    color : #FF0033;
    text-decoration : underline;
}
a.menu {
    background-color : #C6C3C6;
    color : black;
    padding : 0.2em 0.6em;
    text-decoration : none;
    width : 6em;
}
a.menu:hover {
    background-color : gray;
    color : white;
    text-decoration : none;
}
button {
    font-family : "MS Sans Serif";
    font-size : 9pt;
    height : 22px;
    width : 100px;
}
p {
    font-family : "MS Sans Serif";
    font-size : 9pt;
}

span {
    font-family : "MS Sans Serif";
    font-size : 9pt;
}
th {
    background-color : #9999CC;
    font-family : "MS Sans Serif";
    font-size : 10pt;
}
/* Page title */
.title {
    background-color : #000084;
    color : #FFFFFF;
    font-family : Verdana, "MS Sans Serif";
    font-size : 9pt;
    font-weight : bold;
    text-align : center;
}
/* Used in login.php */
.td1 {
    font-family : "MS Sans Serif";
    font-size : 10pt;
}
.td2 {
    font-family : "MS Sans Serif";
    font-size : 9pt;
}
/* to alternate background color of table rows */
.odd  {
    background-color : #CCCCCC;
}
.even  {
    background-color : #E6E6E6;
}
.button {
    font-family : "MS Sans Serif";
    font-size : 9pt;
    height : 22px;
}
.button1 {
    font-family : "MS Sans Serif";
    font-size : 9pt;
    height : 22px;
    width : 75px;
}
/* Used in login.php to preload images */
.hidden {
    visibility : hidden;
}
.input {
    border : 1;
    border-color : #958C78;
    border-style : solid;
    font-size : 9pt;
    height : 18px;
}
.input1 {
    border : 1;
    border-color : #958C78;
    border-style : solid;
    font-size : 9pt;
    height : 22px;
    width : 200px;
}
.inputUpper {
    border : 1;
    border-color : #958C78;
    border-style : solid;
    font-size : 9pt;
    height : 18px;
    text-transform: uppercase;
}

/* Used in zend_email.php for textarea */
.text {
    border : 1;
    border-color : #958C78;
    border-style : solid;
    font-size : 9pt;
    height : 300px;
    width : 600px;
}
.update {
    background-color : #C6C3C6;
    border : 0;
    font-size : 10pt;
    height : 18px;
}
/* Used in bewerken_ploeg.php */
.updateRowOdd {
    background-color : #CCCCCC;
    border : 0;
    font-size : 9pt;
    height : 18px;
}
/* Used in bewerken_ploeg.php */
.updateRowEven {
    background-color : #E6E6E6;
    border : 0;
    font-size : 9pt;
    height : 18px;
}
.vertical {
    writing-mode : tb-rl;
}
.center {
    text-align : center;
}