body {
   margin : 0;
}
h4 {
  font-family: "Courier New", Courier, mono;
  font-size: 14pt;
  color: #006633;
}
.gmenu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 24pt;
}
p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
a:link {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000099;
  text-decoration: underline;
}
a:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #006600;
}
a:hover {
    color: red;
}
.kleinetekst {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
}
.kleinetitel {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000000;

}
h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #006600;
}
.subtitel {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #006600;

}
ul {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
.geel {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #FFFFFF; /* wit */
  font-weight: bold;

}
.kleingeel {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #FFFFFF;

}
.pzonderwit {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 10px;
}
.nws {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #990000;
  text-decoration: underline;
}
