/**
 * lists.css
 *
 * object    : stylesheet used in reporting.php for drag and drop lists
 * author    : Freek Ceymeulen
 * created   : 13/06/2006
 **/

ul.sortable li {
  position: relative;
}

ul.boxy {
  border: 1px solid #000;
  list-style-type: none;
  padding: 4px 4px 0 4px;
  margin: 0px;
  width: 14em;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
ul.boxy li {
  cursor: move;
  margin-bottom: 4px;
  padding: 2px 2px;
  border: 1px solid #ccc;
  background-color: #eee;
}

ul.boxier {
  border: 1px solid #000;
  list-style-type: none;
  padding: 4px 4px 0 4px;
  margin: 0px;
  width: 14em;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
ul.boxier li {
  cursor: move;
  margin-bottom: 4px;
  padding: 2px 2px;
  border: 1px solid #c00;
  background-color: #eee;
}
