/**
 * messageboard.css
 *
 * object    : stylesheet used in all the messageboard pages
 * author    : Freek Ceymeulen
 * created   : 17/01/2006
 **/

a {
    font : 12px Verdana,Arial,Helvetica;
    color: #000080;
    font-weight : normal;
    font-style : normal;
    text-decoration : underline;
}
a:visited {
    font : 12px Verdana,Arial,Helvetica;
    color : #000080;
    font-weight : normal;
    font-style : normal;
    text-decoration : underline;
}
a:hover {
    font : 12px Verdana,Arial,Helvetica;
    color : #000080;
    font-weight : normal;
    font-style : normal;
    text-decoration : underline;
}
body {
    margin : 0px;
    padding : 0px;
    background-color : #eeeeff;
    font : 12px Verdana,Arial,Helvetica;
    color : #000000;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.formbutton {
    border : 1px solid #969696;
    font : 11px tahoma,arial,helvetica;
    background-color : #eeeeee;
}
.pagerbutton {
    text-align : center;
    padding : 2px;
    border : 1px solid #000000;
    font : 10px verdana,arial,helvetica;
    background-color : #eeeeee;
    vertical-align : middle;
    cursor : pointer;
    color : #000000;
    -moz-border-radius : 4px;
}
.pagerbutton_over {
    background-color : #ffffff;
    color : #000000;
}
.pagerbutton_disabled {
    cursor : default;
    height : 12px;
    filter : progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity : .60;
}
.subject {
    font : 12px Verdana,Arial,Helvetica;
    color : #000000;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.subject a {
    font : 12px Verdana,Arial,Helvetica;
    color : #000000;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.subject a:visited {
    font : 12px Verdana,Arial,Helvetica;
    color : #000080;
    font-weight : normal;
    font-style : normal;
    text-decoration : underline;
}
.subject a:hover {
    font : 12px Verdana,Arial,Helvetica;
    color : #000080;
    font-weight : normal;
    font-style : normal;
    text-decoration : underline;
}
.tablea {
    background-color : #eeeeee;
    font : 12px Verdana,Arial,Helvetica;
    color : #000000;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.tableb {
    background-color : #dddddd;
    font : 12px Verdana,Arial,Helvetica;
    color : #000000;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.tablea a {
    font : 12px Verdana,Arial,Helvetica;
    color : #000000;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.tablea a:visited {
    font : 12px Verdana,Arial,Helvetica;
    color : #000080;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.tablea a:hover {
    font : 12px Verdana,Arial,Helvetica;
    color : #000080;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
}
.title {
    font : 24px Verdana,Arial,Helvetica;
    color : #000080;
    font-weight : bold;
    font-style : normal;
    text-decoration : none;
}
.text {
    font : 12px Verdana,Arial,Helvetica;
    color : #000000;
    font-weigh t: normal;
    font-style : normal;
    text-decoration : none;
}