<style type="text/css">
<!--
body {
        background: #fff; /*white*/
        color:      #000; /*black*/
        margin:     0px 0px 0px 0px;
        padding:    0px;
}
#header {
        background:     #CCCCCC;
        border-top:     solid 3pt red;
        border-bottom:  solid 3pt red;
        padding-top:    5px;
        padding-left:   15px;
        height:         1%;  /* avoids tables with width="100%" to exceed the width of the DIV */
}
#visitors {
        position:   absolute;
        top:        100px;
        right:      3px;
        }
#leftcontent {
        position:   absolute;
        left:       0px;
        top:        126px; /*height of the header*/
        width:      130px;
        background: #fff;
        }
#centercontent {
        background:    #fff;
        voice-family:  "\"}\""; /*for IE5x*/
        voice-family:  inherit; /*for IE5x*/
        margin-left:   130px;   /*width of leftcontent*/
        margin-right:  385px;   /*width of rightcontent*/
        padding-left:  10px;
        padding-right: 10px;
        height:         1%;  /* avoids tables with width="100%" to exceed the width of the DIV */
        }
 /*for IE5x*/
html>body #centercontent {
        margin-left:  130px;
        margin-right: 385px;
        }
#rightcontent {
        position:     absolute;
        right:        10px;
        top:          126px; /*height of the header*/
        width:        370px;
        background:   #fff;
        }
#footer {
        background:     #CCCCCC;
        position:       relative; /*for Safari*/
        border-top:     solid 3pt red;
        border-bottom:  solid 3pt red;
        padding-top:    5px;
        padding-bottom: 5px;
}
a:link {
        font-family:     Verdana, Arial, Helvetica, sans-serif;
        color:           #000099;
        text-decoration: underline;
}
a:visited {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:       #006600;
}
a:hover {
        color: red;
}
div.topic {
        border:        1px solid red;
        margin-top:    7px;
        margin-bottom: 7px;
        }
div.topictop {
        padding:    4px;
        background: #CCCCCC;
        }
div.title {
        font-weight: bold;
        width:       auto;
        float:       left;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   small;
        color:       #191970;
        margin-right: 4px;
        }
div.date {
        width:      auto;
        text-align: right;
        font-size:   xx-small;
        }
div.text {
        padding:     4px;
        background : white;
        text-align: justify;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   small;
        }
h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   14pt;
        color:       #006600;
}
h3 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   9pt;
        font-weight: bold;
}
h4 {
        font-family: "Courier New", Courier, mono;
        font-size:   14pt;
        color:       #191970;  /*midnightBlue*/

}
img { margin-right: 5px; }
p {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
}
ul {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
}
.badminton {
        A:link  #000000;
        A:hover #FFFFCC;
}
.geel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        color:       #FFFFFF; //wit
        font-weight: bold;
}
.gmenu {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        line-height: 24pt;
}
.kleinetekst {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   x-small;
}
.kleinetitel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   11px;
        font-weight: bold;
        color:       #000000;
}
.kleingeel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        font-weight: bold;
        color:       #FFFFFF;
}
.kleinzwart {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        font-weight: bold;
        color:       black;
}
.subtitel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        font-weight: bold;
        color:       #006600;
}
.blauw {
        background-color: #666699;
}
.table1 {
        padding: 0.5em;
}
.border1 {
        border-width:    thin;
        border-color:    #CCCCCC;
        border-style:    solid;
        border-collapse: collapse;
}
-->
</style>