body {
        background: #fff; /*white*/
        color:      #000; /*black*/
        margin:     0px 0px 0px 0px;
        padding:    0px;
}
#header {
        background:     #CCCCCC;
        border-top:     solid 3pt green;
        border-bottom:  solid 3pt green;
        padding-top:    5px;
        padding-left:   15px;
        height:         1%;  /* avoids tables with width="100%" to exceed the width of the DIV */
}
#leftcontent {
        position:   absolute;
        left:       0px;
        top:        130px; /*height of the header*/
        width:      130px;
        background: #fff;
        }
#centercontent {
        background:    #fff;
        voice-family:  "\"}\""; /*for IE5x*/
        voice-family:  inherit; /*for IE5x*/
        margin-left:   130px;   /*width of leftcontent*/
        margin-right:  130px;   /*width of rightcontent*/
        padding-left:  10px;
        padding-right: 10px;
        height:         1%;  /* avoids tables with width="100%" to exceed the width of the DIV */
        }
 /*for IE5x*/
html>body #centercontent {
        margin-left:  130px;
        margin-right: 130px;
        }
#rightcontent {
        position:   absolute;
        right:      0px;
        top:        130px; /*height of the header*/
        width:      130px;
        background: #fff;
        }
#footer {
        background:     #CCCCCC;
        position:       relative; /*for Safari*/
        border-top:     solid 3pt green;
        border-bottom:  solid 3pt green;
        padding-top:    5px;
        padding-bottom: 5px;
}
a:link {
        font-family:     Verdana, Arial, Helvetica, sans-serif;
        color:           #000099;
        text-decoration: underline;
}
a:visited {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:       #006600;
}
a:hover {
        color: red;
}
h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   14pt;
        color:       #006600;
}
h3 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   9pt;
        font-weight: bold;
}
h4 {
        font-family: "Courier New", Courier, mono;
        font-size:   14pt;
        color:       #006633;

}
p {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
}
ul {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
}
.badminton {
        A:link  #000000;
        A:hover #FFFFCC;
}
.geel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        color:       #FFFFFF; /* wit */
        font-weight: bold;
}
.gmenu {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        line-height: 24pt;
}
.kleinetekst {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   x-small;
}
.kleinetitel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   11px;
        font-weight: bold;
        color:       #000000;
}
.kleingeel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        font-weight: bold;
        color:       #FFFFFF;
}
.kleinzwart {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        font-weight: bold;
        color:       black;
}
.subtitel {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:   10pt;
        font-weight: bold;
        color:       #006600;
}
.blauw {
        background-color: #666699;
}
.table1 {
        padding: 0.5em;
}
.border1 {
        border-width:    thin;
        border-color:    #CCCCCC;
        border-style:    solid;
        border-collapse: collapse;
}